.row-action {
  font-size: 20px !important;
  color: var(--neb-text-muted);
  cursor: pointer;
  transition: all var(--duration-default);

  &:hover {
    color: var(--neb-text);
  }

  &.delete-action:hover {
    color: var(--neb-text-error);
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}
